
body{
background:#0b0b0b;
color:white;
font-family:tahoma;
padding:20px;
}
.container{
max-width:900px;
margin:auto;
}
h1{
text-align:center;
color:gold;
}
.card{
background:#161616;
padding:20px;
border-radius:20px;
margin-top:20px;
border:1px solid #333;
}
input,select{
width:100%;
padding:12px;
margin-top:10px;
background:#222;
color:white;
border:none;
border-radius:10px;
box-sizing:border-box;
}
button{
margin-top:15px;
padding:12px;
background:gold;
border:none;
border-radius:10px;
cursor:pointer;
font-weight:bold;
width:100%;
}
ul{
margin-top:15px;
padding:0;
list-style:none;
}
li{
background:#222;
padding:10px;
border-radius:10px;
margin-top:10px;
}
